/* 폰트 1*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 폰트 2 */
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html{
  font-family: 'Arita-dotum-Medium';
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-fe {
  justify-content:flex-end;
}

.flex-jc-fs {
  justify-content:flex-start;
}

.flex-jc-sb{
  justify-content:space-between;
}

.flex-jc-sa{
  justify-content:space-around;
}
.flex-ai-c {
  align-items:center;
}

.flex-ai-fe {
  align-items:flex-end;
}

.flex-as-c {
  align-self:center;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;

}

.flex-grow-1 {
  flex-grow:1;
}

.flex-1-0-0 {
  flex:1 0 0;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-50vh {
  min-height:50vh;
}

.bd{
  border:3px solid;
}

.bd-green {
  border:3px solid green;
}

.bd-red {
  border:3px solid red;
}

.bd-purple {
  border:3px solid purple;
}

.bd-blue {
  border:3px solid blue;
}

.bg-pink {
  background-color:pink;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.height-70p{
  height:70%;
}

.height-500px{
  height:500px;
}


.block {
  display:block;
}

.hover-underline:hover{
  text-decoration:underline;
}

@media ( max-width:720px ) {
  .visible-md-up {
    display:none !important;
  }
}

@media ( min-width:721px ) {
  .visible-sm-down {
    display:none !important;
  }
}

/* 커스텀 */
:root {
  --site-width:1200px;
}

.con {
  max-width: var(--site-width);
}

/* 버튼 시작 */
.btn {
  font-size: 1rem;
  line-height: 1rem;
  padding: 10px 15px 7px 15px;
  display: inline-flex;
  font-weight: bold;
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #3D94F6;
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.btn-success {
  background-color: #28a745;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3540;
}

.btn-back {
  background-color:	#696969;
}

.btn-warning {
  background-color:	#8B4513;
}
/* 버튼 끝 */

/* 탑 헤더 시작 */
.head-bar-section{
  font-family: 'Arita-dotum-Medium';
  width:100%;
	position:fixed;
	z-index:500;
  
}

.head-bar > *{
  display:flex;
}

.head-bar-button{
  display:block;
  border:2px solid white;
  margin-top:10px;
  margin-right:15px;
  font-size:0.9rem;
}

.head-bar-button::after{
  display:block;
  content: '';
  border-bottom: solid 2px red; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  z-index:3000;
}

.head-bar-button:hover{
  font-weight:bold;
}

.head-bar-button:hover::after{
  transform: scaleX(0.7); 
  z-index:3000;
}


/* 탑 헤더 끝 */

/* 탑바 시작 */
:root {
  --top-bar__height:100px;
}

.top-bar-padding{
  height:var(--top-bar__height);
}

.top-bar{
  position:fixed;
  width:100%;
  background-color:white;
  z-index:200;
  height:var(--top-bar__height);
  border-bottom:4px outset whitesmoke;
}


/* 탑바 끝 */

/* 타이틀 시작 */
.title{
  text-align:center;
  font-size:2rem;
  font-weight:bold;
  padding-left:4%;
  padding-top:30px;
}
.title> a{
  
}

/* 타이틀 끝 */




/* 메뉴바 시작 */
.menu-bar{
  font-family: 'Arita-dotum-Medium';
  font-size:1rem;
  text-align:center;
  z-index:200;
}

.menu-bar_menu ul>li{
  
}


.menu-bar_menu ul > li > a{
  padding:7px;
  padding-bottom:5px;
  color:black;
}

.menu-bar_menu > ul > li:hover{
  box-shadow:7px 7px 7px gray;
  transition: all 500ms;
}

.menu-bar_menu > ul > li:hover > a{
  font-weight:bold;
}

.menu-bar_menu > ul > li > a:after{
  display:block;
  content: '';
  border-bottom: solid 2px red; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  
}

.menu-bar_menu > ul > li:hover > a:after{
  transform: scaleX(0.7);
}

.menu-bar_menu > ul > li{
  width:100px;
  position:relative;
 
}

.menu-bar_menu > ul ul {
  visibility:hidden;
  position:absolute;
  top:100%;
  width:100%;
  background-color:white;
  border-top-width:0;
  z-index:10;
  box-shadow:7px 7px 7px gray;
}

.menu-bar_menu ul > li:hover > ul{
  visibility:visible;
  
}

.menu-bar_menu ul > li > ul > li:hover >a{
  visibility:visible;
  font-weight:bold;
}

.menu-bar_menu ul > li > ul > li >a:after{
  display:block;
  content: '';
  border-bottom: solid 2px red; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;

}

.menu-bar_menu ul > li > ul > li:hover > a:after{
  transform: scaleX(0.7);
  
}
/* 메뉴바 끝 */


/* 모바일 탑바 시작 */
:root {
  --mobile-top-bar__btn-toggle-side-bar__dur:.3s;
}

.mobile-top-bar{ 
  height:var(--top-bar__height);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:white;
  z-index:100;
  border-bottom:4px outset whitesmoke;
}
.mobile-top-bar_btn-toggle-side-bar {
  width:25px;
  height:25px;
  position:fixed;
  margin-left:10px;
  margin-top:30px;
  z-index:1000;
  cursor:pointer;
  
}
.mobile-top-bar_btn-toggle-side-bar > div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:20%;
  background-color:black;
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur), transform var(--mobile-top-bar__btn-toggle-side-bar__dur), opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius:2px;
}

.mobile-top-bar_btn-toggle-side-bar > div:nth-child(2) {
  top:40%;
}

.mobile-top-bar_btn-toggle-side-bar > div:nth-child(3) {
  top:80%;
}

.mobile-top-bar_btn-toggle-side-bar.active > div:nth-child(1),
.mobile-top-bar_btn-toggle-side-bar.active > div:nth-child(3) {
  top:40%;
  transform:rotate(-45deg);
}

.mobile-top-bar_btn-toggle-side-bar.active > div:nth-child(3) {
  transform:rotate(45deg);
}

.mobile-top-bar_btn-toggle-side-bar.active > div:nth-child(2) {
  opacity:0;
}
/* 모바일 탑바 끝 */


/* 모바일 사이드메뉴바 시작 */
.mobile-side-bar {
  font-family: 'Arita-dotum-Medium';
  position:fixed;
  top:var(--top-bar__height);
  left:-100%;
  width:100%;
  bottom:0;
  color:white;
  background-color:rgba(10, 10, 10, 0.8);
  transition:left .3s;
  display:flex;
  align-items:center;
  padding-bottom:var(--top-bar__height);
  z-index:1000;
}
.mobile-side-bar.active {
  left:0;
}

.mobile-side-bar_menu {
  width:100%;
  text-align:center;
}

.mobile-side-bar_menu ul > li > a{
  max-width:200px;
  padding:10px;
  font-size:1rem;

}

.mobile-side-bar_menu ul > li > a:after{
  display:block;
  content: '';
  border-bottom: solid 3px white; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


.mobile-side-bar_menu ul > li:hover > a{
  background-color:gray;
  color:white;
  font-weight:bold;
}

.mobile-side-bar_menu ul > li:hover > a:after{
  transform: scaleX(0.7);
}

.mobile-side-bar_menu > ul > li{
  width:100%;
}

.mobile-side-bar_menu > ul > li > ul{
  display:none;
  width:100%;
}

.mobile-side-bar_menu ul > li:hover > ul{
  display:block;
  color:white;
}
/* 모바일 사이드메뉴바 끝 */



/* 메인 컨텐츠 박스 시작 */
.main-box{
  min-height:1000px;
}

.main-box-section{
  

}

/* 메인 컨텐츠 박스 끝 */


/* 푸터 시작 */
.bottom-bar{
  margin-top:30px;
  border-top:3px outset gray;
  padding:20px;
}

/* 푸터 끝 */


/* 로그인 페이지 시작 */
.section-login{
  
}
.section-login > form{
  text-align:center;
  border-radius:10% 10% 10% 10%;
  box-shadow:5px 10px 10px 10px gray;
  width:300px;
  font-size:1rem;
  font-weight:bold;
  padding:10px;
}
.section-login > form > div{
  padding:5px;

}

.login_cell__title{
  color:black;
}

.login_cell__body > input{
  font-size:1rem;
  font-weight:bold;
  padding:5px;
  height:35px;
  width:90%;
  min-width:150px;
}
.loginInput_cell{
  font-size:0.9rem;

}

.loginInput_cell > div > button:hover{
  background-color:	#8B0000;
  
}

.loginInput_cell > div:last-child{
  padding:7px;
}

.loginInput_cell > div:last-child > a{
  padding:7px;
}

.loginInput_cell > div > a:hover{
  color:red;
  font-weight:bold;
  text-decoration:underline;
}



/* 로그인 페이지 끝 */



/* 회원가입 페이지 시작 */
.section-join{
  padding-top:50px;
}
.section-join > form{
  background-color:black;
  text-align:center;
  width:300px;
  font-size:1.2rem;
  font-weight:bold;
  border:2px solid;
  box-shadow:10px 10px 10px 0 gray;
}
.section-join > form > div{
  padding:5px;

}

.join_cell__title{
  color:white;
}

.join_cell__body > input{
  font-size:1rem;
  font-weight:bold;
  padding:5px;
  height:35px;
  width:95%;
  min-width:150px;
  border:none;
}
.joinInput_cell{
  font-size:1.5rem;
  font-weight:bold;
}


/* 회원가입 페이지 끝 */



/* 회원정보 페이지 시작 */
.section-MyPage{
  padding-top:50px;
}
.section-MyPage > * > .section-MyPage-body{
  background-color:black;
  text-align:left;
  border:1px solid black;
  width:310px;
  font-size:1.2rem;
  font-weight:bold;
  box-shadow:10px 10px 10px 0 gray;
}
.section-MyPage-body > div{
  padding:5px;
  padding-left:20px;
}

.MyPage_cell__title{
  color:white;
}

.MyPage_cell__body{
  font-size:1.1rem;
  background-color:white;
  height:50px;
  display:flex;
  align-items:center;
}

.MyPage_cell__body > *{
  font-size:1rem;
  height:30px;
  display:flex;
  align-items:center;
}

.submitModifyBtn{
  margin:10px;
  margin-left:200px;
}


/* 회원정보 페이지 끝 */

/* 홈 시작 */
.section-home > div{
  text-align:center;
  font-size:2rem;
  height:300px;
  margin-top:30px;
}

/** 홈 슬라이드 시작 **/

#section-home-slide{
  height:700px;
  box-shadow:10px 10px 10px gray;
}

#wrapper{
  width:1200px;
  height:100%;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  width:1200px;
  height:100%;
  position:relative;
  overflow:hidden;
}

#slider-wrap ul#slider{
  width:1200px;
  height:100%;
  position:absolute;
  top:0;
  left:0;   
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  width:1200px;
  height:100%;
}

#slider-wrap ul#slider li > div{
  position:absolute;
  top:20px;
  left:35px;  
}

#slider-wrap ul#slider li > div h3{
  font-size:25px;
  text-transform:uppercase; 
}

#slider-wrap ul#slider li > div span{
  font-size:18px;
}

#slider-wrap ul#slider li img{
  display:block;
  width:100%;
  height:100%;
}


/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
  font-size:1rem;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  margin-top:630px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
}

#pagination-wrap ul li{
  margin:0 4px;
  display:inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  opacity:0.5;
  position:relative;
  top:0;
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px; 
}

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}

/** 홈 슬라이드 끝 **/


/** 홈 이미지박스 시작 **/
.home-list_img{
 width:500px;
  margin-top:10px;
  margin-bottom:10px;
  
}

.home-list_img > nav > a{
  width:90%;
  box-sizing:border-box;
}

.img-box{
  height:280px;
  position:relative;
  overflow:hidden;
  box-shadow:10px 10px 10px gray;
}

.img-box::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  transition:background-color 1s;
  
}

.home-list_img > nav > a:hover .img-box::before {
  background-color:rgba(0,0,0,0.3);
  z-index:1;
}

.img-txt{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  border:4px solid white;
  padding:5px;
  border-radius:10px;
  color:white;
  font-weight:bold;
  font-size:1.2rem;
  transition:opacity 1s;
  opacity:0;

}

.img-txt::before{
  content:"GO to ";
  
}

.home-list_img  > nav > a:hover .img-txt{
  opacity:1;
  z-index:1;
}

.img-box > img{
  position:relative;
  height:100%;
  width:100%;
  transition:transform 1s;
  
}

.home-list_img > nav > a:hover .img-box > img{
  transform:scale(1.2);
  
}

/** 홈 이미지박스 끝 **/
/** 홈 리스트박스 시작 **/
:root {
  --home-list__cell-id__width:50px;
  --home-list__cell-writer__width:100px;
  --home-list__cell-hitsCount__width:50px;
  --home-list__cell-likesCount__width:50px;
  --home-list__cell-title__width:calc(100% - var(--home-list__cell-id__width) - var(--home-list__cell-writer__width) - var(--home-list__cell-hitsCount__width) - var(--home-list__cell-likesCount__width));
}

.section-home-list{
  width:100%;
  text-align:center;
  background-color:rgba(240, 240, 240, 0.5);
  padding:10px;

  box-shadow:10px 10px 10px gray;
}


.home-list{
  width:90%;
  font-size:0.8rem;
  margin:auto;
  padding-left:20px;
  padding-right:20px;
  text-align:left;
  
}

.home-list > div:first-child{
  font-weight:bold;
  font-size:1.2rem;
  width:200px;
  border-left:6px solid;
  box-shadow:7px 7px 7px gray;
  padding-left:10px;
  background-color:rgb(153,153,153);
  
}
.home-list > div:first-child > span{
  color:white;
  
}

.home-list1 > div:first-child{
  background-color:rgb(153,153,153);
  border-left:6px solid red;
}

.home-list2 > div:first-child{
  align-self:flex-end;
  
}


.home-list > header{
  margin-top:20px;
  border-bottom:4px solid;
  position:relative;
}

.home-list > header::after{
  font-weight:bold;
  content:"더보기 >>";
  position:absolute;
  top:-30px;
  right:0px;
}

.home-list1 > header{
  border-bottom:4px solid red;
}

.home-list2 > header::after{
  font-weight:bold;
  content:"<< 더보기";
  position:absolute;
  top:-30px;
  left:0px;
}



.home-list > * > div{
  display:flex;
  justify-content:center;
}

.home-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.home-list__cell-body > div> .home-list__cell-title{
  text-align:left;
  padding-left:30px;
}


.home-list__cell-id {
  width:var(--home-list__cell-id__width);
}

.home-list__cell-writer {
  width:var(--home-list__cell-writer__width);
}

.home-list__cell-hitsCount {
  width:var(--home-list__cell-hitsCount__width);
}

.home-list__cell-likesCount {
  width:var(--home-list__cell-likesCount__width);
}

.home-list__cell-title {
  width:var(--home-list__cell-title__width);
}


.home-list > .home-list__cell-body > div {
  border-bottom:1px solid black;
}
/** 홈 리스트박스 끝 **/
/* 홈 끝 */



/* 메인 리스트 페이지 시작 */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-hitsCount__width:100px;
  --article-list__cell-likesCount__width:100px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-hitsCount__width) - var(--article-list__cell-likesCount__width));
}

.section-article-list{
  margin-top:150px;
  width:100%;
  text-align:center;
  background-color:rgba(250, 250, 250, 0.4);
}

.article-list{
  width:90%;
  font-size:1rem;
  margin:auto;
  margin-top:20px;
}

.article-list-name{
  text-align:left;
  font-weight:bold;
  font-size:1.6rem;
  margin-bottom:40px;
  position:relative;
}
.article-list-name > span:nth-child(2){
  position:absolute;
  right:0;
  bottom:0;
  font-size:1rem;
}

.article-list > header{
  margin-top:20px;
  
}

.article-list > * > div{
  display:flex;
  justify-content:center;
}
.article-list > .article-list__cell-body > * > div{
  display:flex;
  justify-content:center;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child):after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:2px;
  height:15px;
  background-color:black;
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list > .article-list__cell-body > * > div{
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-body > * > div> .article-list__cell-title{
  text-align:left;
  padding-left:30px;
}


.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-hitsCount {
  width:var(--article-list__cell-hitsCount__width);
}

.article-list__cell-likesCount {
  width:var(--article-list__cell-likesCount__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > .article-list__cell-body > * > div {
  border-top:1px solid black;
}

.article-list__cell-search{
  margin-top:20px; 
}
.article-list__cell-search >*{
  margin-left:10px; 
}


/* 메인 리스트 페이지 끝 */
/* 게시물 리스트 하단 메뉴 시작 */
.article-page-menu-section{
  
  margin-top:30px;
  padding-bottom:50px;
}

.article-page-menu {
  font-size:1rem;
}

.article-page-menu > ul > li > a {
  border:1px solid transparent;
  padding:7px;

}

.article-page-menu > ul > .before-btn, .after-btn {
  margin-top:-3px;
}


.article-page-menu > ul > li:not(.before-btn):not(.after-btn) > a {
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  font-weight:bold;
  background-color:rgba(220,220,220,1);
  border-radius:50%;
}

.article-page-menu__link--selected {
  color:red;
  font-weight:bold;
  background-color:rgba(220,220,220,0.5);
  border-radius:50%;
  text-decoration:underline;

}

.article-page-menu > ul > li:hover > a {
  font-weight:bold;
  color:red;
}
/* 게시물 리스트 하단 메뉴 끝 */





/* 게시물 상세페이지 시작 */


.section-2{
  padding:20px;
  padding-top:70px;
}

.article-detail-cell__board-name{
  font-size:1.3rem;
  padding:10px;
  margin-bottom:20px;
  border-bottom:4px solid;
  box-shadow:2px 5px 5px 5px gray;
}
.article-detail-cell__head-contents-box{
  
  box-shadow:7px 0px 7px gray;
}


.article-detail-cell__head-contents-box > div{
  border-top:2px solid;
  border-left:2px solid;
  border-right:2px solid;
  font-size:0.8rem;
}


.article-detail-cell__head-contents-box > div >div{
  padding:5px;
}

.article-detail-cell__head-contents-1 >div{
  width:100%;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

.article-detail-cell__head-contents-1 >div:not(:last-child){
  border-right:2px solid;

}

.article-detail-cell__id{
  max-width:70px;
}

.article-detail-cell__title > *{
  padding-top:2px;
}

.article-detail-cell__title-contents > *{
  padding:5px;
}


.article-detail-cell__body{
  border:2px solid;
  border-top:5px double;
  padding:30px;
  font-size:1.2rem;
  box-shadow:7px 7px 7px gray;
}
.article-list-bottom-cell > div{
  padding:15px;
  padding-top:25px;
  padding-bottom:5px;
}


.article-detail-cell__body .tui-editor-contents{
  font-size:1.1rem;
}

.article-detail-cell__tag{
  margin-top:10px;
  
}

.article-detail-cell__tag > nav{
  margin-right:10px;
  padding:3px;
  border:3px solid;
  border-radius:10px 5px 5px 5px; 
}
.article-detail-cell__tag > nav:hover{
  background-color:rgba(220,220,220,0.5);
}
/* 게시물 상세페이지 끝 */
/* 게시물 상세페이지 하단 메뉴 시작 */
.section-3{
  padding-bottom:50px;
}

.article-list-bottom-cell{
  font-size:1rem;
}
.article-list-bottom-cell > div{
  
}

.article-list-bottom-cell > div:hover > a{
  color:red;
  font-weight:bold;
  
  background-color:rgba(220,220,220,0.5);
  border-radius:50%;

}

/* 게시물 상세페이지 하단 메뉴 끝 */


/* 맨 위 버튼 시작 */
.top-button{
  display:none;
  position:fixed;
  bottom:40px;
  right:20px;
  width:70px;
  height:30px;
  text-align:center;
  
}
.top-button > div{
  width:100%;
  height:100%; 
  font-size:1.1rem;
  border-radius:10px;
}

.top-button > div > a{
  display:inline-block;
  width:100%;
  height:85%;
  background-color:rgba(220, 220, 220, 1);
  color:white;
  border-radius:10px;
  border:3px solid;

}

.top-button > div:hover > a{
  background-color:black;
  color:white;

}
/* 맨 위 버튼 끝 */




